@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    align-items: center;
    background: #E0EAFC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.mobile-container {
    background-color: #FFF;
    box-shadow: 0 0 10px 2px#3333331A;
    width: 400px;
}

header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

header input {
    background-color: #EEE;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
}

header button {
    background-color: transparent;
    border: none;
    color: #AAA;
    font-size: 1.5rem;
    margin-left: 10px;
}

.favorite-container {
    background-color: rgb(243, 225, 255);
    padding: 1rem;
    text-align: center;
}

.favorite-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.favorite-meals li {
    margin: 5px;
    width: 75px;
}

.favorite-meals li img {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px#3333331A;
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.favorite-meals li span {
    font-size: 1rem;
}